body {    background-color: #ffffe4!important; }

@media (min-width: 992px) {
    .desktop-only {
        display: block !important;
    }
    .mobile-only {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .mobile-only {        display: block !important;    }    
    .desktop-only {        display: none !important;    }
}

#chip_block, #reg_ex_container, #physical_description, #dog_misc { display: none; }
#dog_registry a { cursor: pointer; }
.menuAnchor { color: #000; }

.underscore {
    border-bottom-color: #aeaeae;
    border-bottom-style: groove;
    border-bottom-width: 6px;
}

#ltd_error_modal_ok, #ltd_confirm_modal_ok { 
    width: 100%; 
    font-weight: bold;
    background-color: #ffffe4;
}

#ltd_confirm_modal .modal-header {
    background-color: greenyellow;
    color: black;
    border-radius: 5px;
    text-align: center;
}

#ltd_dual_options_modal .modal-header {
    background-color: #00efff;
    color: black;
    border-radius: 5px;
    text-align: center;
}

#ltd_confirm_modal_subheader { text-align: center; }

#ltd_error_modal .modal-header {
    text-align: center;
    background-color: red;
    color: yellow;
    border-radius: 5px;
}

#ltd_error_modal_x {
    cursor:pointer;
    background-color: #fff;
    border-radius: 15px;
    color: #000;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    width: 16px;
    height: 16px;
    float: right;
    position: relative;
    text-align: center;
}

#ltd_x {
    position: relative;
    top: -6px;
    font-weight: bold;
    left: 0.04em;
}

.modal.fade .modal-dialog 
{
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;

    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}

.margin-bottom-10 {    margin-bottom: 10px; }
.margin-left-20 {    margin-left: 20px; }

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#new_user {
    position: relative;
    top: -21px!important;
}

.fine-print {
    font-size: 12px;
    font-style: italic;
}

.bdr-bot {
    border-bottom-color: #aeaeae;
    border-bottom-width: 1px;
    border-bottom-style: ridge;
    padding-bottom: 14px;
}

#dog_list_container {
    max-height: 200px;
    overflow-y: scroll;
    background-color: #f8f8f8;
    border-radius: 9px;
    border-style: inset;
    border-width: 1px;
    padding-top: 5px;
}

.dog-row {
    height: 45px;
    line-height: 40px;
}

.thinButt {
    border-radius: 8px;
    height: 30px;
    line-height: 30px;
    position: relative;
    top: 5px;
}

.drop12 { 
    position: relative;
    top: 12px;
}

#fp_email {
    margin-top: 11px;
    width: 300px;
    background-color: #ffffe4;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-top: 3px;
}

#create_account h1 {    font-size: 24px!important; }
.oddReg { background-color: #ffffff; }
.pointer { cursor: pointer; }
#ql_num { width: 50px; }