.menuBox, .blueBox {
    border-color: #000;
    border-width: 3px;
    border-style: solid;
}

.blueBox { background-color: #acd; }
.menuBox { background-color: yellow; }
.menuText {    text-align: center; }
#med_box { background-color: #fff;}
#walk_box { background-color: #97ff00; }
#treat_box { background-color: #fea7ff; }
#register_box { backgroud-color: #fe9512;}
#quick_box { background-color: #00c760; }
#ql_modal_text legend { margin-bottom: 0; }
#ql_modal_text fieldset { padding-bottom: 15px; }

#ql_modal_text {
    max-height: 200px;
    overflow-y: scroll;
}

@media (min-width: 768px) {
    .menuText {
        font-size: 30px;
        font-weight: bold;
    }
    
    .menuBox {
        margin: 5px;
        padding: 5px;
    }
}

@media (min-width: 568px) {
    .menuText {
        font-size: 19px;
        font-weight: bold;
    }
    
    .menuBox, .menuNox, .blueBox {
        margin: 5px;
        padding: 5px;
    }
}
@media (max-width: 567px) {
    .menuText {
        font-size: 16px;
        font-weight: bold;
    }
    
    .menuBox, .menuNox, .blueBox {
        margin: 3px;
        padding: 3px;
    }
}

.menuText-xs { font-size: 14px; }