#doggie_data {  display: none; }
#walk_date { float: left; width: 83px; }
#walk_time { width: 50px; }
#gender_walk { font-weight: bold; }

#walk_cal { 
    display: none;
    float: left; 
}

#walk_date_container .trigger {
    padding-left: 6px;
    padding-top: 5px;
}