#doggie_data {  display: none; }
#walk_date, #meal_date, #treat_date, #med_date { float: left; width: 83px; }
#walk_time, #meal_time, treat_time, #med_time { width: 50px; }
#gender_walk, #gender_meal, #gender_treat, #gender_med { font-weight: bold; }

#walk_cal, #meal_cal, #treat_cal, #med_cal { 
    display: none;
    float: left; 
}

#walk_date_container .trigger, #meal_date_container .trigger, #treat_date_container .trigger, #med_date_container .trigger {
    padding-left: 6px;
    padding-top: 5px;
}